
* {
   color: black;
}

span.item-name {
   color:dimgray;
}

.item-name + span  {
   color: lightcoral
}

span.item-name.actors {
   color:brown;
}

.genre ~ span {
   color: green;
}

.item-name.actors  ~ span {
   color: blue;
}

.description p {
   color: lightslategray;
}

.title {
   color:mediumvioletred;
}

ul > li,
ul li a {
   color: blueviolet;
}